// @import './Home.module.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*:focus {
  outline: none;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

html {
  font-size: 100%;
} /*16px*/

body {
  font-family: 'Noto Sans TC', sans-serif !important;
  font-variant: tabular-nums;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.022em;
  font-style: normal;
}

#__next {
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
  }
}

.masonry {
  // display: grid;
  columns: 3;
  column-gap: 12px;
  // grid-template-columns: repeat(3, 1fr);
  @media (max-width: 767px) {
    columns: 2;
    // grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 575px) {
    columns: 1;
    // grid-template-columns: repeat(1, 1fr);
  }
}

// 2 columns masonry
.multi {
  @media (max-width: 575px) {
    column-gap: 6px;
    columns: 2;
    .grid {
      border-radius: 4px;
      margin-bottom: 6px;
      &:before {
        display: none;
      }
      &__body {
        visibility: hidden;
      }
    }
    .masonry-grid_column {
      width: 100% !important;
    }
  }
}

.grid {
  height: auto;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.4s ease;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
  }
  &:hover {
    &:before {
    }
    img {
      transform: scale(1.05);
    }
  }
  img {
    width: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
  }
  &__body {
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 20px 16px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media (max-width: 575.98px) {
      padding: 16px 12px;
    }
  }
  &__title {
    text-shadow: 0 1px rgba(0, 0, 0, 0.45);
  }
  &__vote {
  }
  &__link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  &__tag {
    width: auto;
    background-color: rgba(0, 0, 0, 0.45);
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    padding: 4px 12px;
    margin-bottom: 4px;
    margin-right: 4px;
  }
  &__badge {
    width: auto;
    background-color: rgba(0, 0, 0, 0.45);
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    padding: 4px 12px;
    margin-bottom: 4px;
    margin-right: 4px;
  }
}

.pulse {
  animation: pulse 1.4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.loadable {
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

img {
  display: block;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}

.masonryGrid {
  width: 90%;
  list-style: none;
  margin: 20px auto;
}

.photo-wrapper {
  position: relative;
  .photo-credit {
    z-index: 99;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    color: rgba(255, 255, 255, 0.85);
  }
}

.consent {
  display: flex;
  align-items: flex-start;
}

.masonry-grid:not(.multi) {
  display: flex;
  margin-left: -15px; /* gutter size offset */
  width: auto;
  .masonry-grid_column {
    padding-left: 15px; /* gutter size */
    background-clip: padding-box;
  }
  /* Style your items */
  .masonry-grid_column > div {
    /* change div to reference your elements you put in <Masonry> */
    margin-bottom: 15px;
  }
}

/* override chakraui button disabled opacity */
.main-cta[disabled],
.main-cta:disabled {
  opacity: 1 !important;
}

.tw{
  .grid {
    border-radius: 0px;
    &:before {
      background-color: transparent;
    }
    margin-bottom: 0;
  }  
}