
photo-list {
  width: 100%;
  list-style: none;
  /* margin: 20px auto; */
}

.photo-item {
  /* display: flex; */
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12); */
  /* margin: 20px 0px; */
}

.photo-item img {
  border-radius: 8px;
  cursor: pointer;
  /* display: flex;
  width: 100%;
  border: 4px double rgba(0, 0, 0, 0.12); */
}
